[user]
	name = Lucas Grenier
	email = luc@sgrenier.com
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	editor = nvr -s --remote-wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
